<style>/* Style général du formulaire */
    /* Style général du formulaire */
    .form-content {
        background-color: #007bff; /* Couleur de fond bleue */
            border-radius: 10px; /* Bordures arrondies */
            padding: 20px; /* Espacement intérieur */
            max-width: 500px; /* Largeur maximale du formulaire */
            margin: auto; /* Centre le formulaire horizontalement et verticalement */
            display: flex; /* Utilisation de Flexbox */
            flex-direction: column; /* Les enfants sont empilés verticalement */
            justify-content: center; /* Centre les enfants verticalement */
            padding-top: 50px;
        }
        
        .card-header {
            text-align: center; /* Centre le titre de la carte */
        }
        
        /* Style du champ de saisie */
        .form-control {
            border-radius: 5px; /* Bordures arrondies */
            border: 1px solid #ccc; /* Bordure */
            padding: 10px; /* Espacement intérieur */
            width: 100%; /* Largeur à 100% */
        }
        
        /* Style du bouton de soumission */
        .btn-dark {
            background-color: #343a40; /* Couleur de fond */
            color: #fff; /* Couleur du texte */
            border-radius: 5px; /* Bordures arrondies */
            border: none; /* Pas de bordure */
            padding: 10px 20px; /* Espacement intérieur */
            cursor: pointer; /* Curseur pointeur */
            transition: background-color 0.3s; /* Transition fluide */
        }
        
        .btn-dark:hover {
            background-color: #1d2124; /* Couleur de fond au survol */
        }
        
        /* Style des alertes */
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 5px;
        }
        
        .alert-warning {
            background-color: #ffc107; /* Couleur de fond jaune */
            color: #333; /* Couleur du texte */
            border-color: #ffc107; /* Couleur de la bordure */
        }
        
        .alert-danger {
            background-color: #f8d7da; /* Couleur de fond rouge */
            color: #721c24; /* Couleur du texte */
            border-color: #f5c6cb; /* Couleur de la bordure */
        }
        .page-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        
        .form-content {
            background-color:  #f09819 
            border-radius: 10px;
            padding: 20px;
            max-width: 500px;
            width: 100%;
        }
        


    </style>
    <div class="page-containerr">
        <div class="form-content my-3 p-3">
       <div class="row justify-content-center">
           <div class="col-lg-5">
               <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                   <div class="card-header justify-content-center">
                       <div id="error_div"></div>
                     <h3 class="font-weight-light my-4 text-center">Mot de passe oublié?</h3>
                   </div>
                   {% if form.errors %}
                       <div class="alert alert-danger alert-dismissible" role="alert">
                           <div id="form_errors">
                               {% for key, value in form.errors.items %}
                                   <strong>{{ value }}</strong>
                               {% endfor %}
                           </div>
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                   {% endif %}
                   <div class="card-body">
                       <form method="POST">
                           {% csrf_token %}
                           <div class="form-row">
                               <div class="col-md-10 offset-md-1">
                               <div class="form-group">
                                 <label class="small mb-1" for="id_email">E-mail</label>
                                   <input type="email" name="email"  class="form-control"
                                          autocomplete="email" maxlength="254" required id="id_email"
                                          placeholder="Enter email">
                               </div>
                           </div>
                       </div>
                           <div class="form-row">
                             <div class="col-md-10 offset-md-1">
                               <div class="form-group mt-0 mb-1">
                                   <button type="submit" class="col-md-12 btn btn-dark">Envoyer
                                   </button>
                               </div>
                            </div>
                          </div>
                       </form>
                   </div>
                   <div class="card-footer text-center">
                       <div class="small">
                           <a href="{% url 'accounts:signup' %}">
                            Créer un nouveau compte</a><br><br>
                           <a href="{% url 'accounts:login' %}">Retour connexion</a><br>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

</div>